# DB_HOST=localhost
# DB_PORT=5432
# DB_USER=root
# DB_PASSWORD=Dami_2022
# DB_NAME=userdatabase

# REPLICA_DB_HOST=localhost
# REPLICA_DB_PORT=5432
# REPLICA_DB_USERNAME=replicaUser
# REPLICA_DB_PASSWORD=Dami_2022
# REPLICA_DB_NAME=userdatabaseReplica


DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=Dami_2022
DB_NAME=userdatabase

REPLICA_DB_HOST=localhost
REPLICA_DB_PORT=5432
REPLICA_DB_USERNAME=replicaUser
REPLICA_DB_PASSWORD=Dami_2022
REPLICA_DB_NAME=userdatabaseReplica
