@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes logoAnimation {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-300px, -50px);
  }
  50% {
    transform: translate(300px, 50px);
  }
  75% {
    transform: translate(-300px, 50px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.animationLogo {
  animation: logoAnimation 40s infinite;
}
